@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot");
  src: url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot");
  src: url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container1 {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}

.btn1 {
  max-width: 320px;
  padding: 10px 20px;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .btn1 {
    font-size: 14px;
    padding: 5px 7px;
  }
}

.btn1:hover {
  transform: scale(1.3, 1.3);
}

nav {
  padding: 12px 0;
}
nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu .lbl {
  display: none;
}
@media (max-width: 768px) {
  nav .menu .lbl {
    display: block;
  }
}
nav .menu .check1 {
  display: none;
}
nav .menu__card {
  display: flex;
  align-items: center;
  -moz-column-gap: 87px;
       column-gap: 87px;
  transition: 1s;
}
@media (max-width: 1024px) {
  nav .menu__card img {
    width: 24px;
  }
}
@media (max-width: 640px) {
  nav .menu__card img {
    width: 32px;
  }
}
@media (max-width: 1024px) {
  nav .menu__card {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 768px) {
  nav .menu__card {
    -moz-column-gap: 30px;
         column-gap: 30px;
    justify-content: space-between !important;
  }
}
@media (max-width: 640px) {
  nav .menu__card {
    transform: translateY(-150%);
    width: 50%;
    height: 30vh;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 80px 20px;
    align-items: flex-start;
    background-color: #fff;
  }
}
nav .menu__card-box {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 768px) {
  nav .menu__card-box {
    -moz-column-gap: 4px;
         column-gap: 4px;
  }
}
@media (max-width: 640px) {
  nav .menu__card-box {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
nav a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 14px;
}

.button__click {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  height: 40vh;
}

.menu__btn {
  display: none;
}
@media (max-width: 640px) {
  .menu__btn {
    display: block;
    background: transparent;
    border: none;
    display: flex;
    -moz-column-gap: 8px;
         column-gap: 8px;
    align-items: center;
  }
}

.menu__card.active {
  transform: translateY(0);
}

.hero {
  max-width: 1440px;
  min-height: 600px;
  margin: 0 auto;
  background-color: #F0F0F0;
  padding: 88px 0 40px 0;
}
.hero__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  .hero__card {
    text-align: center;
  }
}
.hero h1 {
  max-width: 660px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 24px;
    line-height: 31px;
  }
}
@media (max-width: 576px) {
  .hero h1 {
    padding-bottom: 24px;
    max-width: 472px;
  }
}
.hero p {
  max-width: 628px;
  font-weight: 400;
  font-size: 24px;
  padding: 32px 0 40px 0;
  line-height: 31px;
}
@media (max-width: 768px) {
  .hero p {
    font-size: 18px;
    line-height: 23px;
  }
}
@media (max-width: 576px) {
  .hero p {
    max-width: 472px;
  }
}
@media (max-width: 992px) {
  .hero .book-img {
    width: 370px;
  }
}
@media (max-width: 768px) {
  .hero .book-img {
    width: 232px;
  }
}
@media (max-width: 576px) {
  .hero .picture1 {
    display: none;
  }
}
@media (max-width: 576px) {
  .hero .picture2 {
    display: block;
  }
}

.btn2 {
  background-color: #EE1B24;
  color: #fff;
  border: 1px solid #EE1B24;
  margin: 0 20px 21px 0;
}
@media (max-width: 576px) {
  .btn2 {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  .btn3 {
    font-size: 18px;
    padding: 10px 20px;
  }
}

.picture2 {
  display: none;
}

.about {
  max-width: 1440px;
  margin: 0 auto;
}
.about__cards {
  display: flex;
}
@media (max-width: 576px) {
  .about__cards {
    flex-direction: column;
  }
}
.about__cards-left {
  max-width: 720px;
  min-height: 582px;
  background-color: #161A2B;
  padding: 80px 10px 20px 120px;
}
@media (max-width: 1024px) {
  .about__cards-left {
    padding: 80px 0 20px 25px;
  }
}
.about__cards h2 {
  color: #fff;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
}
.about__cards span {
  color: #fff;
  opacity: 0.8;
  display: inline-block;
  margin-top: 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.about__cards p {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.about__cards .text1 {
  padding-top: 24px;
}

.right__cards {
  width: 208px;
  height: 208px;
  z-index: 5;
  background-color: #161A2B;
}

.about__cards-right {
  max-width: 720px;
  min-height: 582px;
  background-image: url("../../images/Power.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 150px;
}
@media (max-width: 1024px) {
  .about__cards-right {
    padding: 70px 80px;
  }
}

.rigth__box {
  max-width: 440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}
@media (max-width: 992px) {
  .rigth__box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .rigth__box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 490px) {
  .rigth__box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.rigth__box img {
  padding: 0 20px 0 24px;
}
.rigth__box h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rigth__box p {
  padding-left: 35px;
}

.about__sapn {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.product {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F0F0F0;
  padding: 80px 0;
}
.product h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  padding-bottom: 40px;
}
.product .product__card {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 48px;
}
@media (max-width: 768px) {
  .product .product__card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.product .product__card-box {
  background-color: #fff;
}
.product .product__card-box h3 {
  display: inline-block;
  padding-left: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}
.product .product__card-box p {
  padding: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
@media (max-width: 1024px) {
  .product .product__card-box p {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .product .product__card-box img {
    width: 88px;
  }
}

.number {
  max-width: 1440px;
  min-height: 993px;
  background-image: url("../../images/Background__image.png");
  margin: 0 auto;
  background-size: cover;
  padding-top: 80px;
}
.number h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 60px;
}
.number .number__card {
  display: flex;
}
@media (max-width: 768px) {
  .number .number__card {
    flex-direction: column;
  }
}
.number .number__card-left {
  background-color: #fff;
  max-width: 600px;
}
.number .number__card-left .number__card-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 40px;
}
.number .number__card-left .number__card-box1 {
  background-color: #F0F0F0;
  padding: 30px;
  height: 600px;
  overflow-x: scroll;
}
.number .number__card-left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.number__card-right {
  height: 640px;
  max-width: 600px;
  background-color: #161A2B;
  padding: 50px;
}
.number__card-right .form1 {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.number__card-right .input {
  max-width: 600px;
  padding: 10px;
  border: 2px solid #161A2B;
  border-bottom: 2px solid #F0F0F0;
  background-color: #161A2B;
  opacity: 0.6;
  color: #fff;
}
.number__card-right h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #fff;
}
.number__card-right .check {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.number__card-right .check span {
  color: #fff;
  opacity: 0.6;
}

.form1__btn {
  background-color: #161A2B;
  border: 2px solid #EE1B24;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #EE1B24;
}

::-webkit-scrollbar-thumb:hover {
  background: #EE1B24;
}/*# sourceMappingURL=main.css.map */