.about {
    max-width: 1440px;
    margin: 0 auto;

    &__cards {
        display: flex;

         @include phone {
            flex-direction: column;
         }

        &-left {
            max-width: 720px;
            min-height: 582px;
            background-color: $section-bg;  
            padding:80px 10px 20px 120px;

            @include large-tablet {
                padding:80px 0 20px 25px;
            }
            

        }

       

        h2 {
            color:  #fff;
            padding-bottom: 12px;
            font-weight: 500;
            font-size: 36px;
            line-height: 150%;
        }

        span {
            color: #fff;
            opacity: .8;
            display: inline-block;
            margin-top: 34px;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
        }
        p {
            color:  #fff;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
        }

        .text1 {
            padding-top: 24px;
        }
    }
}

.right__cards {
    width: 208px;
    height: 208px;
    z-index: 5;
    background-color: $section-bg;

}

.about__cards-right {
    max-width: 720px;
    min-height: 582px;
    background-image: url('../../images/Power.png');
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:  70px 150px;
    
    @include large-tablet {
        padding:  70px 50px;
    }
}

.rigth__box {
    max-width: 440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;

    @include tablet1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    @include phone {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }

    @include min-phone {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }


    img {
        padding: 0 20px 0 24px;
    }

    h2 {
      margin: 0;
      padding: 0;
      box-sizing: border-box;  
    }

    p {
        padding-left: 35px;
    }
}

.about__sapn {
    display: inline-block;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}