.about {
    max-width: 1440px;
    margin: 0 auto;

    &__cards {
        display: flex;
        

        &-left {
            max-width: 720px;
            height: 582px;
            background-color: $section-bg;  
            padding:80px 0 20px 120px;

        }

       

        h2 {
            color:  #fff;
            padding-bottom: 12px;
            font-weight: 500;
            font-size: 36px;
            line-height: 150%;
        }

        span {
            color: #fff;
            opacity: .8;
            display: inline-block;
            margin-top: 34px;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
        }
        p {
            color:  #fff;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
        }

        .text1 {
            padding-top: 24px;
        }
    }
}

.right__cards {
    width: 208px;
    height: 208px;
    z-index: 5;
    background-color: $section-bg;

}

.about__cards-right {
    width: 720px;
    height: 582px;
    background-image: url('../../images/Power.png');
    display: flex;
    align-items: center;
    justify-content: center;
        
}

.rigth__box {
    max-width: 440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;

    img {
        padding-left: 40px;
    }
}