nav {
    padding: 12px 0;
    

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        

        .lbl {
            display: none;

            @include tablet {
                display: block;
                
            }
        }

        .check1 {
            display: none;
        }
        
       

        &__card {
            display: flex;
            align-items: center;
            column-gap: 87px;
            transition: 1s;
            img {
                @include large-tablet {
                    width: 24px;
                }

                @include menu-remove{
                    width: 32px;
                }
            }

            @include large-tablet {
                column-gap: 40px;
            }

            @include tablet {
                column-gap: 30px;
                justify-content: space-between !important;
            }

            @include menu-remove {
                transform: translateY(-150%);
                width: 50%;
                height: 30vh;
                flex-direction: column;
                position: absolute;
                top: 60px;
                right: 0;
                padding: 80px 20px;
                align-items: flex-start;
                background-color: #fff;
            }

            &-box {
                display: flex;
                align-items: center;
                column-gap: 15px;

                @include tablet {
                    column-gap: 4px;
                }

                @include menu-remove {
                    column-gap: 10px;
                    
                }
            }
        }
    }

    a {
        text-decoration: none;
        list-style: none;
        color: black;
        font-size: 14px;
    }
}

.button__click {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height: 40vh;
}

.menu__btn {
    display: none;

    @include menu-remove {
        display: block;
        background: transparent;
        border: none;
        display: flex;
        column-gap: 8px;
        align-items: center;
    }
}
.menu__card.active {
    transform: translateY(0);
}

.hero {
    max-width: 1440px;
    min-height: 600px;
    margin: 0 auto;
    background-color: $hero-bg;
    padding: 88px 0 40px 0;

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include phone {
            text-align: center;
        }

    
    }

    

    h1 {
        max-width: 660px;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;

        @include tablet {
            font-size: 24px;
            line-height: 31px;
        }
        @include phone{
            padding-bottom: 24px;
            max-width: 472px;
        }
    
    }

    p {
        max-width: 628px;
        font-weight: 400;
        font-size: 24px;
        padding: 32px 0 40px 0;
        line-height: 31px;
        
        @include tablet {
            font-size: 18px;
            line-height: 23px;
        }
        @include phone {
            max-width: 472px;
        }
    }

    .book-img {
         @include tablet1 {
            width: 370px;
         }
         @include tablet {
            width: 232px;
         }
    }

    .picture1 {
        @include phone {
            display: none;
        }
    }

    .picture2 {
        @include phone {
            display: block;
        }
    }
}

.btn2 {
    background-color: $buttun-bg;
    color: #fff;
    border: 1px solid $buttun-bg;
    margin:0 20px 21px 0;
    @include phone {
        font-size: 18px;
        padding: 10px 20px;
    }
}

.btn3 {
    
    @include phone {
        font-size: 18px;
        padding: 10px 20px;
    }
}

.picture2 {
    display: none;
}
